/*GENERICS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;;
}

header{
    background-color: #3161e0;
    min-height: 50px;
}

/* open HEADER */


.container{
    width: 1180px;
    margin: 0 auto;
    align-items: center;
    justify-content: right;
}

ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: center;
}


ul a{
    margin: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;
}

ul a:hover{
    text-decoration: underline;
}

.flex{
    display: flex;

}
.login{
    width: 20%;
    justify-content: end;

}

.login input {
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    background-color: white;
    border: 0;
}

.login input:hover {
     box-shadow: 3px 3px 3px black;
}

.logo{
    display: block;
    padding: 7px 16px;
}

/* close HEADER */

/* img bg */

.img-bg{
    background-image: url("../img/jumbo.png");
    background-position: center;
    background-size: cover;
    background-color: #3161e0;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.box-jumbone{
    height: 300px;
    width: 700px;
    color: white;
}

.box-jumbone h1{
    justify-content: center;
    font-size: 56px;
}
.box-jumbone p{
    margin-top: 20px;
    font-weight: bold;
    line-height: 30px;
}

/* close img bg */

/*  BUTTON  */

.button{
    width: 100%;
    min-height: 80px;
    justify-content: center;
    margin-top: 30px;

}

.button input {
    border-radius: 50px;
    font-size: 14px;
    padding: 3px 10px;
    border: 0;
    height: 40px;
    margin-right: 10px;
}

.button .discord {
    background-color: #23272a;
    color: white;
}

.button input:hover {
    box-shadow: 3px 3px 3px black;
}

/*  close BUTTON  */


/* box 1*/

.box1{
    width: 100%;
    justify-content: space-between;
}

.box1 .box1-big{
    font-size: 35px;
    font-weight: bold;
}

.box1 .box1-small{
    font-size: 20px;
    display: block;
    margin-top: 20px;
    text-align: justify;

}

.box{
    width: 65%;
    margin-top: 30px;
}


.card-box1-sx{
    background-image: url("../img/item1.svg");
    background-repeat: no-repeat;
    height: 500px;
    width: 60%;
}

.card-box1-dx{
    height: 500px;
    width: 40%;
}

/* close box 1*/



/* box 2*/

.box2{
    width: 100%;
    justify-content: space-between;
}

.box2 .box2-big{
    font-size: 35px;
    font-weight: bold;
}

.box2 .box2-small{
    font-size: 20px;
    display: block;
    margin-top: 20px;
    text-align: justify;
}

.card-box2-dx{
    background-image: url("../img/item2.svg");
    background-repeat: no-repeat;
    height: 500px;
    width: 60%;
}

.card-box2-sx{
    height: 500px;
    justify-content: center;
    width: 40%;
}

/* close box 2*/


/* box 3*/

.box3{
    width: 100%;
    justify-content: space-between;
}

.box3 .box3-big{
    font-size: 35px;
    font-weight: bold;
}

.box3 .box3-small{
    font-size: 20px;
    display: block;
    margin-top: 20px;
    text-align: justify;
}

.box{
    width: 65%;
    margin: 30px 0 0 30px;
}


.card-box3-sx{
    background-image: url("../img/item3.svg");
    background-repeat: no-repeat;
    height: 500px;
    width: 60%;
}

.card-box3-dx{
    height: 500px;
    width: 40%;
}


/* close box 3*/


/* box 4*/

.card-box4{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.card-box4 p{
    width: 100%;
}
.card-box4 img{
    margin: 20px auto;    
    height: 100%;
}

.box4 .box4-big{
    font-size: 35px;
    font-weight: bold;
}

.box4 .box4-small{
    font-size: 20px;
    display: block;
    margin-top: 20px;
}

/* close box 4*/


/* open box 5*/

.box5{
    background-color: #23272a;
    height: 400px;
    justify-content: center;
    margin:0;
    width: 100%;
    display: flex;
}

.box5 .type1{
    flex-grow: 2;
    background-color: #f08080;
    height: 95%;
}

.box5 .type2{
    flex-grow: 1;
    background-color: #20b2aa;
    height: 95%;
    text-align: center;
    margin: 0;
}

.type2 p{
    margin-top: 10px;
    font-size: 20px;
}


.type2 span{
    display: block;
    margin-bottom: 20px;
}

.type2 a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.type2 a:hover {
    text-decoration: underline;
}



.type2 p{
    color: #5865f2;
    font-weight: bold;
    margin-bottom: 20px;

}


/* close box 5*/






hr{
    border: 1px solid lightblue;
}

footer{
    background-color: #23272a;
    height: 80px;
    padding: 10px 0 0 0;
}

.end{
    background-color: #7fffd4;
    height: 60px;
    justify-content: space-between;

}

.logo-footer{
    background-color: #ffb6c1;
    padding: 3px;
}

.button-footer{
    background-color: #ffb6c1;
    padding: 3px;

}

section{
    padding: 20px 0;;
}