/*GENERICS*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #add8e6;
    min-height: 50px;
}

.container{
    width: 900px;
    margin: auto auto;
    background-color: #daa520;
    align-items: center;

}

ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: center;
}


ul a{
    text-decoration: none;
}

.flex{
    display: flex;

}

.debug{
    border: 2px dashed  black;
}

.login{
    width: 20%;
    justify-content: end;

}
.logo{
    width: 20%;
    display: block;
}

.logo,
.login,
li{
    padding: 10px;
}