/*GENERICS*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: #add8e6;
    min-height: 50px;
}

.head{
    width: 900px;
    display: flex;
    align-items: center;
    border: 2px dashed  black;
    margin: 0 auto;
    background-color: #daa520;
}

.head span,nav,button {
    width: calc(100% / 3);
}

nav{
    list-style: none;
}

nav li{
    display: inline-block;    
}

nav a{
    text-decoration: none;
}